.card-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e3f2f6;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.activity i {
  font-size: 24px;
}
.activity h3 {
  margin-top: 12px;
  margin-left: 10px;
}

.glance h3 {
  margin-top: 16px;
}
.card {
  border: 1px solid #ddd; /* Add border or other styling as needed */
  border-radius: 8px;
  width: 100%;
  margin: 16px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid #7070706c;
}

.last {
  border-bottom: none;
}
