<section class="home">
  <div class="intro">
    <div class="intro-text">
      <h1>Welcome Emily,</h1>
      <p>
        your ability and secure invoicing arrangement. Prepare to streamline
        invoicing for your business
      </p>
    </div>
    <div class="intro-btn">
      <button class="">
        <i class="fa fa-plus"></i>
        <span> Generate QR</span>
      </button>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="activity">
        <i class="fa fa-desktop"></i>
        <h3>Recent Activity</h3>
      </div>
      <div>
        <div class="card-flex">
          <h4>EIT 'NUNYA TOMEY' requested sick leave</h4>
          <p>2 hours ago</p>
        </div>

        <div class="card-flex">
          <h4>Nurse grant for sake of tomorrow</h4>
          <p>30 min ago</p>
        </div>

        <div class="card-flex">
          <h4>Request in to access</h4>
          <p>20 hours ago</p>
        </div>
        <div class="card-flex last">
          <h4>EIT 'DEREK ADDO' requests for projector</h4>
          <p>3 days ago</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="activity glance">
        <i class="fa fa-eye"></i>
        <h3>At a Glance</h3>
      </div>
      <div>
        <div class="card-flex">
          <h4>Teams</h4>
          <p>25</p>
        </div>

        <div class="card-flex">
          <h4>Nurse Complaint</h4>
          <p>8</p>
        </div>

        <div class="card-flex">
          <h4>Kitchen</h4>
          <p>10</p>
        </div>
        <div class="card-flex last">
          <h4>Operations</h4>
          <p>24</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bar">
    <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart>
  </div>
</section>
