* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContentWrapper {
  width: 100%;
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .mainContentWrapper {
    padding: 0rem;
  }
}
