.sideNav {
  background-color: rgb(237, 237, 237);
  padding: 10px;
  padding-right: 40px;
  height: 100vh;
}

.sideNav .logo {
  margin-bottom: 20px;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}
